{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

     <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Biblios</h1>
                <p class="lead">Catalogue en ligne de la médiathèque de Trifouillis-les-Oies</p>
                <a class="btn btn-lg btn-light" href="#about">Parcourez le catalogue</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Biblios: qu'est-ce que c'est ?</h2>
                        <p class="lead">Biblios est la plateforme officielle de consultation du catalogue de la médiathèque de Trifouillis-les-Oies. Explorez notre collection avec une recherche efficace, vérifiez la disponibilité des ouvrages en temps réel, et effectuez des réservations en toute simplicité. Biblios s'engage pour faciliter l'accès à la culture et promouvoir la richesse de notre patrimoine littéraire.</p>
                        <p>Fonctionnalités clés :</p>
                        <ul>
                            <li>Recherche avancée de livres</li>
                            <li>Consultation en temps réel du statut des ouvrages (disponible, emprunté, indisponible)</li>
                            <li>Affichage détaillé des informations sur les livres</li>
                            <li>Processus de réservation simplifié</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Les services que nous vous offrons</h2>
                        <p class="lead">Découvrez tout un univers de services pensés pour rendre vos moments de lecture et de découverte encore plus agréables :</p>
                        <ul>
                            <li>
                            <strong>Empruntez des livres, où que vous soyez :</strong> Que vous aimiez parcourir nos rayons en personne ou préfériez la simplicité du numérique, notre bibliothèque est là pour vous. Empruntez vos ouvrages préférés sur place ou en ligne depuis le confort de chez vous.
                            </li>
                            <li>
                            <strong>Un espace de travail et d'évasion :</strong> Nos espaces accueillants sont parfaits pour lire, étudier ou simplement vous détendre. Profitez de zones calmes et connectées pour répondre à vos besoins.
                            </li>
                            <li>
                            <strong>Ressources numériques à portée de main :</strong> Explorez notre vaste collection de livres numériques, magazines, et ressources éducatives disponibles sur notre plateforme en ligne.
                            </li>
                            <li>
                            <strong>Activités pour tous :</strong> Ateliers créatifs, lectures publiques, ou conférences – il se passe toujours quelque chose à la bibliothèque !
                            </li>
                            <li>
                            <strong>Assistance personnalisée :</strong> Nos bibliothécaires passionnés sont là pour vous aider à trouver ce dont vous avez besoin, que ce soit un livre rare ou des conseils de lecture personnalisés.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Contact us</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
