{% extends 'base.html.twig' %}

{% block title %}Ajout d'un éditeur{% endblock %}

{% block body %}
<section class="container px-4">
    <div class="w-50 m-auto">
      
            <h1>Ajout d'un éditeur</h1>
            
            {{ form_start(form) }}
            {{ form_row(form.name, {label: 'Nom'}) }}
            <button type="submit" class="btn btn-outline-primary mt-3">Envoyer</button>
            <a href="{{ path('app_main') }}" class="btn btn-outline-secondary mt-3">
            <i class="bi bi-arrow-left"></i> Retour
            </a>
            {{ form_end(form) }}
        
    </div>
</section>
{% endblock %}